.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.hobbitsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
}

.hobbit {
  padding: 1em;
}

.logo {
  text-align: center;
  font-size: 350%;
}

img {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
